@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* #ff7360 and #34d4ae */

.big-container {
  text-align: center;
  width:100%;
}

.container-fluid {
  margin: 0 auto 5% auto;
  max-width: max(70%, 900px);
  text-align: left;
}

.form-check-label {
  font-size: 18px !important;
  color: #ff7360 !important;
}
.form-check-input:checked {
  background-color:#ff7360 !important;
  border-color: #ff7360 !important;
}

.form-switch {
  padding: 16px !important;
  flex-basis: auto;
}
.flex-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
/* .btn-check:checked {

} */
h4 {
  color: #ff7360;
  font-size: 4vw;
  margin-bottom: 5%;
}

img {
  width: 100%;
}

i {
  color: #25b391;
}

i:hover {
  color: #ff7360;
  transition-duration: 0.3s;
}

.logo, .fa {
  width: 3em;
}

.btn {
  width: 100%;
  background-color: #25b391;
  color: white;
  margin-bottom: 15px;
}

.btn:hover {
  width: 100%;
  background-color: #ff7360;
  transition-duration: 0.3s;
  color: white;
}

.filterByDorm {
  background-color: #ff7360 !important;
}

.filterByDorm:hover {
  background-color: #25b391 !important;
}

.background {
  background-color:rgba(255, 255, 255, 0.733);
}
object {
  width: 100%;
  height: calc(65vh);
}

.headshot {
  width: 50%;
}

.inline-block {
  width: 50%;
  position: middle;
  display: inline-block;
}
.flexRow {
  display: flex;
  flex-direction: row;
  margin-bottom: 18px;
}

.youtube {
  flex-grow: 2;
  flex-basis: max-content;
  padding: 0 16px;
}

.popups {
  flex-basis: min-content;
  flex-grow: 1;
}
.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.icon {
  text-align: center;
  width: 24px;
  height: 24px;
}

.row {
  text-align: center;
  height: max-content;
  text-align: left;
}

.modal-dialog {
  top: 5%;
  left: 2%;
}

.room{
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

#wall img:hover {
  cursor: pointer;
  border: 5px solid rgb(38, 161, 237);
}

#room0 {
  /* position: relative; */
  max-height: calc(100vh - 100px);
}
.frontPage {
  position: relative;
}
#contacts {
  position: absolute;
  top: 5%;
  left: 4%;
  width: 5%;
}

#desc {
  position: absolute;
  top: 5%;
  left: 28%;
  width: 65%;
  background: rgba(255, 255, 255, 0.9);
  font-size: 2vw;
}

#subHead {
  font-size: min(3vw, 32px);
  color: #25b391;
}

@media only screen and (min-width: 1400px) {
  #subHead {
    font-size: 2vw;
  }
}
@media only screen and (max-width: 600px) {
  #contacts p {
    font-size: x-small
  }

  /* hide video */
  iframe {
    display: none;
  }

  .filterByDorm {
    display: none;
  }

  .btn {
    font-size:small;
    padding: 5px;
  }

  #desc {
    height: 30%;
  }
}
